__pycache__/
*.pyc

.ipynb_checkpoints/

catboost_info/

uploads/

*.log

.env

.vscode/

outputs_pattern_analysis/

ncrb_global_ensemble_outputs/

ncrb_global_ensemble_outputs_v2/

ncrb_global_notebook_outputs/
SOI_States.geojson
SOI_States.geojsonl
*.7z

*.geojsonl
SOI_States.geojson
SOI_States.geojsonl
*.7z